h1  파일 업데이트
form(action="/update", method="post")                        
    p
        input(type="text", name="id", value=`${data.id}`, hidden)
    p
        label(style="padding-right: 50px") 파일 제목
        input(type="text", name="fileId", value=`${data.fileId}`) 
    p
        label(style="padding-right: 50px") 파일 내용
        textarea(cols="30", rows="10" type="text", name="detail", value="", placeholder="업데이트 할 파일 내용") #{data.detail}
    p
        label(style="padding-right: 50px") 카테고리
        select(name="category")
            option(value=1 selected=data.category_id == 1 ? true : false) Program Langauge
            option(value=2 selected=data.category_id == 2 ? true : false) DB
            option(value=3 selected=data.category_id == 3 ? true : false) Editor
    p
        input(type="submit" value="업데이트")